{
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "trailingComma": "all",
    "printWidth": 180,
    "arrowParens": "always",
    "bracketSpacing": false,
    "bracketSameLine": true,
    "semi": true,
    "singleAttributePerLine": false,
    "plugins": ["prettier-plugin-organize-imports"]
}

